.portfolio-banner {
  width: 100%;
  background-image: url(/public/images/portfolio-min/Section\ 1\ Portfolio-min.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include media-min-md {
    height: 100vh;
  }
}
.portfolio-sec-2 {
  background-color: rgb(81, 55, 55);
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include media-min-md {
    height: auto;
  }
  @include media-min-lg {
    height: auto;
  }
}
